.baseText {
	@apply text-lg leading-relaxed my-4;
}

.indentedText {
	@apply text-lg leading-relaxed my-4;
	text-indent: 2rem;
}
.indentedTextList {
	@apply text-lg leading-relaxed;
	text-indent: 2rem;
}

.italicText {
	@apply text-lg leading-relaxed italic;
}

.indentedItalicText {
	@apply text-lg leading-relaxed italic;
	text-indent: 4rem;
}
