.baseText {
	@apply text-xl leading-relaxed;
}

.indentedText {
	@apply text-xl leading-relaxed;
	text-indent: 4rem;
}
.indentedTextList {
	@apply text-xl leading-relaxed;
	text-indent: 2rem;
}

.italicText {
	@apply text-xl leading-relaxed italic;
}

.indentedItalicText {
	@apply text-xl leading-relaxed italic;
	text-indent: 4rem;
}
